{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget.html.twig' %}

{% block buy_widget %}
    <span class="manufacturer">{{product.manufacturer.translated.name}}</span>
    <h1>{{product.translated.name}}</h1>
    
    {{parent()}}
{% endblock %}

{% block buy_widget_tax %}
{% endblock %}

{% block buy_widget_ordernumber_container %}
{% endblock %}

{% block buy_widget_reviews %}
{% endblock %}